<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit appointment</h1>

    <div class="">
      <form action="/<%=appointment.id%>/edit?_method=PUT" method="POST">
          <label for="">Date</label>
          <input type="text" name="date" value=<%=appointment.date%>/>

          <label for="">Time</label>
          <input type="text" name="time" value=<%=appointment.time%>/>

          <label for="">With</label>
          <input type="text" name="with" value=<%=appointment.with%>/>

          <label for="">Location</label>
          <input type="text" name="location" value=<%=appointment.location%>/>

          <label for="">Description</label>
          <input type="text" name="description" value=<%=appointment.description %>/>

          <input type="submit" name="" value="Update">
          <a href="/">cancel</a>

      </form>
    </div>
  </body>
</html>
