<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <% include ./partials/head.ejs %>

    <title>Appointment</title>
  </head>
  <body>
    <div class="edit-info">
        <h3>Reschedule</h3>
        <div class="form-body">
          <form action="/<%=appointment.id%>/edit?_method=PUT" method="POST">
            <div class="">
              <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label col-form-label-sm"><strong>Date</strong></label>
                <% let today = new Date();%>
                <% let dd = String(today.getDate()).padStart(2, '0');%>
                <% let mm = String(today.getMonth() + 1).padStart(2, '0');%>
                <% let yyyy = today.getFullYear();%>
                <% let day= today.getDay()%>
                <% today = yyyy + '-' + mm + '-' + dd;%>

                <%console.log(`Today date is : ${today} and day is ${day}`)%>

                 <div class="col-sm-10">
                  <input type="date" name="date" min="<%=today%>"value="<%=appointment.date%>">

                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label col-form-label-sm"><strong>Time</strong></label>
                <div class="col-sm-10">
                  <input type="time" name="time" value="<%=appointment.time%>">
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label col-form-label-sm"><strong>With</strong></label>
                  <div class="col-sm-10">
                    <input type="text" name="with" value="<%=appointment.with%>">
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label col-form-label-sm"><strong>Location</strong></label>
                <div class="col-sm-10">
                <input type="text" name="location" value="<%=appointment.location%>">
              </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label col-form-label-sm"><strong>Description</strong></label>
                <div class="col-sm-10">
                <input type="text" name="description" value="<%=appointment.description %>">
              </div>
              </div>

              <div class="container">

                <div class="cancel-btn">
                  <a class="btn btn-info" href="/showAll">Cancel</a>
                </div>
                <div class="update-btn">
                    <input class="btn btn-info" type="submit" name="" value="Update">
                </div>


              </div>

            </div>
          </form>

        </div>

      </div>

  </body>
</html>
