<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title>My Appointment Manager</title>
  </head>
  <body>
    <div class="header">
        <h1>My Appointments</h1>
    </div>

    <section class="main">
      <div class="reschedule-btn">
        <a class="btn btn-info" href="/index">Back to Home Page</a>
      </div>
      <div class="appointments-list">
        <div class="sub-header">
          <div class="sub-heading">
            <h4> UPCOMING </h4>
          </div>
          <div class="add-new-btn">
              <a class="btn btn-info" href="/new">Schedule New </a>
          </div>

        </div>

        <ul>
          <% for(let i=0; i < allAppointments.length; i++) { %>
            <li>
              <div class="date-time">
                  <div class="date">
                    <h5> <%= allAppointments[i].date %> </h5>
                  </div>
                  <div class="time">
                    <h5><%= allAppointments[i].time %></h5>
                  </div>
              </div>

              <div class="appointment-details">
                <p><strong>With</strong> : <%= allAppointments[i].with %></p>
                <p><strong>Location</strong> : <%= allAppointments[i].location %></p>
                <p><strong>Description</strong>: <%= allAppointments[i].description %></p>
              </div>
              <div class="container">
                <div class="cancel-btn">
                  <form action="/<%=allAppointments[i].id%>?_method=DELETE" method="POST">
                    <input class="btn btn-info" type="submit" value="Delete">
                  </form>
                </div>
                <div class="reschedule-btn">
                  <a class="btn btn-info" href="/<%= allAppointments[i].id %>/edit">Reschedule</a>
                </div>
            </div>

            </li>
            <hr>

          <%}%>

        </ul>
      </div>

    </section>

  </body>
</html>
