<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title>My Appointment Manager</title>
  </head>
  <body>
    <div class="header">
      <a class="btn-back" href="/index"> Home </a>
      <a class="btn-back"href="/new">Schedule New </a>
      <a class="btn-back" href="/">LogOut </a>


    </div>
  <h2>My Appointments</h2>
    <section class="main">

      <div class="appointments-list">

        <div class="sub-header">
          <div class="sub-heading">
            <ul class="nav">
              <li class="UPCOMING"><h5><a href="#UPCOMING">UPCOMING</h5></a></li>
              <li class="PAST"><h5><a href="#PAST">PAST</h5></a></li>
              <li class="CANCELLED"><h5><a href="#CANCELLED">CANCELLED</h5></a></li>

            </ul>
          </div>

          <!-- <div class="add-new-btn">
              <a class="btn btn-info btn-color" href="/new">Schedule New </a>
          </div> -->

        </div>

        <ul>
          <% for(let i=0; i < allAppointments.length; i++) { %>
            <li>
              <div class="date-time">
                  <div class="date">
                    <h6> <%= allAppointments[i].date %> </h6>
                  </div>
                  <div class="time">
                    <h6><%= allAppointments[i].time %></h6>
                  </div>
              </div>

              <div class="appointment-details">
                <p><strong>With</strong> : <%= allAppointments[i].with %></p>
                <p><strong>Location</strong> : <%= allAppointments[i].location %></p>
                <p><strong>Description</strong>: <%= allAppointments[i].description %></p>
              </div>
              <div class="container">
                <div class="cancel-btn">
                  <form action="/<%=allAppointments[i].id%>?_method=DELETE" method="POST">
                    <input class="btn btn-info btn-color" type="submit" value="Cancel">
                  </form>
                </div>
                <div class="reschedule-btn">
                  <a class="btn btn-info btn-color" href="/<%= allAppointments[i].id %>/edit">Reschedule</a>
                </div>
            </div>

            </li>
            <hr>

          <%}%>

        </ul>
      </div>

    </section>

  </body>
</html>
